

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) { 
 /* стили для дисплеев типа Retina */
 .contact {
  background: url(../img/bg/contact_bg.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
 }
 .imp-header {
  background: url(../img/bg/imp-header__bg.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
 }
 .dat-header {
  background: url(../img/bg/dat-header.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
 }
 .header {
  background-image: url(../img/bg/header-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
 }
 .apps {
  background:url(../img/bg/apps-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
 }
}
@media (min-width: 1600px) {
  .apps {
    background-position: 0px -90px;
   }
   .contact {
    background-position: 0 -105px;
   }
}
@media (min-width: 1800px) {
  .apps {
    background-position: 0 -210px;
   }
   .contact {
    // background-position: 0 -215px;
}
}
@media (max-width: 1400px) { //1200
  .footer {
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
  .start__input__btn {
    right: 90px;
  }
  .footer__image-mob {
    display: none;
  }
}
@media (max-width: 1200px) { //992
  .box__item--right {
    justify-content: center;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
  }
  .footer__image-mob {
    display: block;
  }
  .header {
    &__text {
      width: 560px;
      height: 250px;
      font-size: 28px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &-card {
      &__image {
        &-line {
          display: none;
        }
      }
    }
    &__title {
      &-text {
        font-size: 46px;
      }
    }
  }
  .menu {
    &__list {
      padding-left: 20px;
      &__link {
        font-size: 70px;
      }
    }
  }
  .work  {
    &__title {
      font-size: 76px;
      line-height: 88px;
    }
    &__wrap {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
    &-card {
      width: 330px;
      margin-bottom: 40px;
      &__image {
        span {
          picture {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
  .apps {
    &__title {
      font-size: 60px;
      line-height: 118%;
    }
    &__text {
      padding: 200px 80px 0 0px;
      width: auto;
    }
  }
  .goal {
    padding-top: 155px;
    padding-bottom: 155px;
    &__title {
      width: 100%;
      font-size: 41px;
      line-height: 47px;
    }
    &__wrap {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-card {
      width: 290px;
      margin-bottom: 40px;
      &__text {
        width: 100%;
        font-size: 28px;
      }
    }
  }
  .time {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: initial;
    &__wrap {
      flex-direction: column;
    }
    &__image {
      margin-top: 40px;
      position: relative;
      img {
        width: 100%;
      }
    }
    &__body {
      width: 100%;
      padding: 90px 15px 40px 0;
    }
    &__text {
      margin-right: 0;
    }
    &__list {
      padding-left: 30px;
    }
  }
  .start {
    height: 650px;
    &__title {
      font-size: 76px;
      line-height: 81px;
    }
    &__descr {
      font-size: 39px;
      line-height: 47px;
      margin-top: 24px;
    }
    &__input {
      &__btn {
        right: 0px;
      }
    }
  }
  .contact {
    &__title {
      font-size: 44px;
      line-height: 126%;
    }
    &__contacts {
      &__title {
        font-size: 30px;
      }
      &__subtitle {
        font-size: 23px;
        line-height: 30px;
      }
    }
  }
  .imp {
    &-contact {
      &__adress {
        width: 50%; 
        &__title {
          font-size: 28px;
        }
      }
    }
  }
  .dat {
    &-text {
      &__title {
        font-size: 24px;
        line-height: 135%;
      }
    }
    &-header {
      &__title {
        font-size: 64px;
      }
    }
  }
  .footer {
    .container {
    display: flex;
    flex-direction: column-reverse;
  }
  &__form {
    align-items: end;
    position: relative;
    padding: 70px 0px 70px 0;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100vw;
      background-color: inherit;
    }
  }
  &__button {
    margin-left: 390px;
    justify-content: flex-end;
  }
}
}
@media (max-width: 1199px) {
  .work {
    &-card {
      &__image {
        &-line {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 992px) { //768 
  .nav {
    &__list {
      &__item {
        margin-right: 50px;
      }
    }
  }
  .header {
    background-position: -325px 0;
    &__title {
      padding-bottom: 450px;
    }
    &__logo {
      img {
        width: 90%;
      }
    }
    &__text {
      width: 510px;
      height: 200px;
      font-size: 28px;
      position: absolute;
      bottom: 0;
      right: 0;
      &__title {
        font-size: 28px;
        line-height: 38px;
      }
    }
    &__title {
      &-text {
        font-size: 41px;
        line-height: 125%;
      }
    }
  }
  .menu {
    &__wrap {
      flex-direction: column;
    }
    &__image {
      margin-left: 10%;
      img {
        width: 70%;
        height: 70%;
      }
    }
    &__list {
      &__link {
        font-size: 64px;
      }
    }
  }
  .work {
    padding: 200px 0px 100px 0px;
    &__title {
      font-size: 66px;
      line-height: 70px;
    }
    &__wrap {
      justify-content: center;
      flex-direction: column;
      align-items: end;
    }
    &-card {
      margin-bottom: 85px;
      width: 440px;
      &__descr {
        p {
          max-width: 100%;
        }
      }
      &__image {
        &-line {
          left: -5px;
          top: 17%;
          display: none;
        }
      }
    }
  }
  .apps {
    background-position: -160px 0px;
    &__wrap {
      width: 100%;
    }
    &__title {
      font-size: 50px;
      line-height: 118%;
    }
    &__subtitle {
      font-size: 28px;
    }
  }
  .goal {
    padding-top: 105px;
    padding-bottom: 120px;
    &__title {
      font-size: 38px;
      line-height: 44px;
    }
    &-card {
      width: 360px;
      margin-bottom: 40px;
      &__text {
        width: 100%;
        font-size: 30px;
      }
    }
  }
  .time {
    &__title {
      font-size: 43px;
      line-height: 53px;
    }
    &__image {
      img {
        position: relative;
        top: 0;
        left: 0;
      }
    }
    &__list {
      &__link {
        font-size: 26px;
      }
    }
  }
  .start {
    &__title {
      font-size: 67px;
      line-height: 65px;
    }
    &__descr {
      font-size: 34px;
      line-height: 43px;
    }
  }
  .footer {
    &__title {
      font-size: 47px;
      line-height: 111%;
    }
    &__button {
      margin-top: 40px;
      margin-left: 385px;
    }
    &__form {
      align-items: flex-start;
      &-text {
      }
    }
    &__email {
      margin-bottom: 25px;
    }
  }
  .contact {
    background-position: -500px 0;
    &__wrap {
      flex-direction: column;
    }
    &__text {
      margin-bottom: 100px;
    }
    &__title {
      font-size: 40px;
      line-height: 122%;
    }
    &__logo {
      width: 60%;
    }
    &__contacts {
      &__title {
        font-size: 29px;
      }
    }
  }
  .down-menu {
    &__list {
      &__link {
        font-size: 12px;
      }
  }
  }
  .imp {
    &-header {
      height: 440px;
      &__title {
        font-size: 66px;
      }
    }
    &-contact {
      &__com {
        &__link {
          font-size: 18px;
          span {
            margin-right: 25px;
          }
        }
      }
      &__adress {
        &__title {
          font-size: 25px;
        }
      }
    }
  }
  .dat {
    &-header {
      &__title {
        font-size: 53px;
      }
    }
    &-block {
      &__list {
        &__item {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) { //576 
  .down-menu {
    display: none;
  }
  .nav {
    height: 70px;
    &__wrap {
      height: 70px;
    }
    &-menu {
      top: 70px;
    }
    &__list {
      display: none;
    }
    &-burger {
      display: flex;
    }
  }
  .header {
    justify-content: space-between;
    background-position: -500px 0;
    background: url(../img/bg/header-image-win-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 800px;
    &__title {
      padding-bottom: 80%;
    }
    &__logo {
      img {
        width: 75%;
      }
    }
    &__title {
      margin-top: 60px;
      &-text {
        font-size: 38px;
        line-height: 120%;
        width: 100%;
      }
    }
    &__body {
      width: 90%;
      padding-bottom: 5%;
    }
    &__text {
      width: 100%;
      display: none;
      justify-content: center;
      &-mob {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
    }
  }
  .menu {
    &__image {
      img {
        width: 70%;
        height: 70%;
      }
    }
    &__list {
      &__num {
        left: -20px;
        font-size: 14px;
      }
      &__link {
        font-size: 57px;
      }
    }
  }
  .work {
    &__title {
      width: 100%;
      font-size: 50px;
      line-height: 62px;
    }
    &-card {
      margin-bottom: 65px;
      &__title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 15px;
      }
      &__descr {
        font-size: 19px;
      }
      &__image {
        &-icons {
          width: 70%;
          // bottom: 35px!important;
          right: 35px!important;
          top: 40px;
        }
        &-line {
          display: block;
        }
        span {
          width: 62px;
          height: 62px;
          picture {
            img {
              display: flex;
              left: 0px;
              top: -100px;
            }
          }
        }
      }
    }
  }
  .apps {
    background-position: -360px 0;
    &__title {
      font-size: 45px;
      line-height: 113%;
    }
    &__text {
      padding: 220px 80px 0 0;
      width: auto;
    }
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &-left {
      background-color: transparent;
    }
  }
  .goal {
    &__title {
      font-size: 36px;
      line-height: 39px;
    }
    &-card {
      &__text {
        height: 110px;
        font-weight: 600;
        font-size: 28px;
      }
    }
  }
  .time {
    // position: relative;
    // height: 1570px;
    &__title {
      font-size: 40px;
      line-height: 46px;
    }
    &__list {
      &__link {
        font-size: 24px;
      }
      margin-bottom: 60px;
    }
    &__wrap {

    }
    &__text {

    }
    &__image {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      width: 100%;
      img {
        // position: absolute;
        // bottom: 0;
        // right: 0;
        width: 100%;
      }
    }
  }
  .start {
    &__title {
      font-size: 50px;
      line-height: 56px;
    }
    &__descr {
      font-size: 27px;
      line-height: 38px;
      width: 100%;
    }
    &__input {
      input {
        font-size: 16px;
      }
      &__btn {
        top: -15px;
        width: 130px;
        height: 45px;
        font-size: 14px;
      }
    }
  }
  .footer {
    &__image {
      overflow: hidden;
    }
    &__title {
      font-size: 40px;
      line-height: 107%;
    }
    &__descr {
      font-size: 20px;
      line-height: 32px;
      width: 100%;
    }
    &__text {
      height: 300px;
    }
    input {
      width: 370px;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 45px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__data {
      height: 400px;
    }
    &__email {
      margin-bottom: 25px;
    }
    &__button {
      margin-left: 205px;
    }
    &__form {
      padding-top: 50px;
      padding-bottom: 50px;
      align-items: flex-end;
      input {
      }
    }
    &__name {
      margin-right: 0;
    }
    &__name-num {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .contact {
    // background-position: -680px 0;
    &__title {
      font-size: 34px;
      line-height: 119%;
    }
    &__contacts {
      &__title {
        font-size: 27px;
      }
      &__subtitile {
        font-size: 22px;
        line-height: 28px;
      }
    }
    &__form {
      input {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .imp {
    &-header {
      &__title  {
        font-size: 59px;
      }
    }
    &-contact {
      height: 800px;
      &__wrap {
        flex-direction: column;
      }
      &__com {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 400px;
        width: 100%;
        top: auto;
        &__text {
          padding-right: 0;
        }
      }
      &__adress {
        height: 400px;
        width: 100%;
        &__text {
          text-align: center;
        }
      }
    }
  }
  .dat {
    &-header {
      &__title {
        font-size: 42px;
      }
    }
    &-text {
      &__title {
        font-size: 19px;
        line-height: 133%;
      }
    }
    &-block {
      &__title {
        font-size: 27px;
      }
      &__descr {
        font-size: 14px;
      }
      &__list {
        &-margin {
          margin-left: 20px;
        }
        &__item {
          font-size: 14px;
        }
      }
    }
    &__hr {
      height: 2px;
      border: none;
      margin: 65px 0;
    }
  }
  .footer {
    &__form {
      align-items: flex-start;
      &-text {
        flex-direction: column;
      }
    }
  }

}


@media (max-width: 576px)  { //320

  .header {
    background: url(../img/bg/header-image-win-mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
      padding-bottom: 60%;
    }
    &__body {
      position: absolute;
      top: 80px;
      left: 25px;
    }
    &__text {
      padding-bottom: 90%;
      &-mob {
        padding-left: 0;
        .header__text_title {
          
        }
      }

    }
    &__logo {
      img {
        width: 250px;
      }
    }
    &__body {
      width: 85%;
      padding-bottom: 45%;
    }
    &__title {
      &-text {
        font-size: 26px;
        line-height: 130%;
      }
    }
    &__text {
      padding: 0px 25px;
      &__title {
        width: 100%;
        font-size: 21px;
        line-height: 30px;
      }
    }
  }
  .menu {
    // overflow: hidden;
    &__wrap {
      padding-bottom: 200px;
      padding-top: 60px;
    }
    &__list {
      &__num {
        font-size: 9px;
      }
      &__link {
        font-size: 35px;
        line-height: 147.6%;
      }
    }
    &__image {
      overflow: hidden;
      margin-left: 50px;
      img {
        width: 70%;
      }
    }
  }
  .work {
    &__title {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 40px;
    }
    &-card {
      width: 100%;
      margin-bottom: 65px;
      &__title {
        font-size: 19px;
        line-height: 24px;
        width: 100%;
      }
      &__image {
        &-icons {
          right: 45px!important;
          top: 41px;
          width: 55%;
        }
        span {
          picture {
            img {
              left: -3px;
              top: -45px;
            }
          }
        }
      }
      &__descr {
        font-size: 17px;
        line-height: 23px;
        width: 100%;
      }
    }
  }
  .apps {
    height: 812px;
    background-position: -500px 0;
    &__text {
      padding: 50% 20px 0 20px;
    }
    &__title {
      font-size: 35px;
      line-height: 130%;
      margin-bottom: 80px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 130%;
    }
  }
  .goal {
    padding-bottom: 100px;
    &__title {
      font-size: 21px;
      line-height: 28px;
    }
    &-card {
      width: 305px;
      &__text {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
        height: 80px;
      }
    }
  }
  .time {
    &__title {
      font-size: 22px;
      line-height: 28px;
    }
    &__image {
      margin-top: -20px;
    }
    &__list {
      padding-left: 15px;
      margin-top: 55px;
      &__link {
        font-size: 18px;
        line-height: 130%;
        span {
          font-size: 7px;
          line-height: 9px;
          left: -15px;
        }
      }
    }
  }
  .start {
    height: 600px;
    padding-bottom: 100px;
    &__title {
      font-size: 46px;
      line-height: 120%;
    }
    &__descr {
      font-size: 22px;
      line-height: 28px;
    }
    &__input {
      &__btn {
        top: 90px;
        width: 149px;
        height: 45.23px;
      }
      input {
        font-size: 16px;
        line-height: 22px;
        border-bottom: 2px solid #FFFFFF;
        width: 505px;
        padding: 0 10px 5px 0;
      }
    }
  }
  .footer {
    &__image {
      img {
        width: 100%;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 115%;
    }
    &__descr {
      font-size: 17px;
      line-height: 23px;
    }
    input {
      width: 305px;
      border-bottom: 2px solid #FFFFFF;
      font-size: 16px;
      line-height: 22px;
    }
    &__data {
      padding-left: 4%;
      padding-right: 4%;
    }
    &__button {
      margin-left: 135px;
    }
  }
  .contact {
    padding: 75px 0;
    &__title {
      font-size: 26px;
      line-height: 130%;
    }
    &__logo {
      width: 240px;
    }
    &__contacts {
      &__title {
        font-size: 22px;
        line-height: 130%;
        margin-bottom: 20px;
      }
      &__subtitle {
        width: 286px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__form {
      input {
        width: 275px;
        border-bottom: 2px solid #FFFFFF;
        font-size: 16px;
        line-height: 22px;
        padding: 0 10px 5px 0;
      }
    }
  }
  .imp {
    &-header {
      background: url(../img/bg/imp-header-mob.webp);
      // background-position: -420px 0;
      background-size: auto;
      height: 810px;
      &__title {
        font-size: 50px;
      }
    }
    &-contact {
      &__adress {
        &__title {
          font-size: 20px;
          line-height: 130%;
        }
        &__subtitle {
          font-size: 17px;
        }
      }
      &__com {
        &__text {
          align-items: center;
        }
        &__link {
          font-size: 17px;
          line-height: 130%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            margin-bottom: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }

  .dat {
    &-header {
      &__title {
        font-size: 25px;
        line-height: 130%;
      }
    }
    &-text {
      &__wrap {
        height: 355px;
      }
      height: 355px;
      &__title {
        font-size: 16px;
        line-height: 140%;
      }
    }
    &-block {
      &__title {
        font-size: 17px;
        line-height: 130%;
      }
      &__descr {
        font-size: 12px;
        line-height: 160%;
        a {
          width: 100%;
          word-wrap: break-word;
        }
      }
      &__list {
        &-margin {
          margin-left: 0px;
        }
        &__item {
          font-size: 12px;
          padding-left: 5px;
          margin-bottom: 20px;
          &:after {
            width: 7px;
            height: 7px;
          }
        }
      }
    }
    &__hr {
      margin: 55px 0;
    }
  }

}
@media (max-width: 400px) {
  .header {
    background-position: -120px 40px;
  }
  .imp-header {
    background-position: -90px 0px;
  }
}
@media (max-width: 343px)  { //320
  .container {
    padding-right: 35px!important;
    padding-left: 35px!important;
  }
  .header {

    &__body {
      padding-bottom: 115%;
    }
  }
  .menu {
    &__image {
      margin-left: 0px;
        transform: translateX(-36px);
      img {
        width: 100%;
      }
    }
  }
  .footer {
    input {
      width: 235px;
    }
    &__button {
      margin-left: 70px;
    }
  }
  .apps {
    background-position: -610px 0;
    overflow: hidden;
    &__title {
      padding-top: 50px;
    }
    &__text {
      padding: 50% 20px 0 20px;
    }
    &-left {
      grid-gap: 0;
    }
  }
  .work {
    &__title {
      text-align: center;
    }
  }
  .time {
  }
  .start {
    height: 700px;
    &__text {
      margin-top: 20px;
    }
  }
  .box__item--right {
    img {
      transform: translateX(-140px);
    }
  }
  .box__item-top {
    padding: 80px 0px 0px 0;
}
}



@media (min-width: 1600px) {

  .time {
    &__image {
      img {
        position: absolute!important;
        left: 0;
        bottom: 0;
        width: 100%!important;
      }
    }
  }
  .footer {
    position: relative;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 47%;
      img {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .box__item--right {
    img {
      display: none;
    }
  }
}
@media (min-width: 1600px) {
  .footer {
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 47%;
      img {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .box__item--right {
    img {
      display: none;
    }
  }
  .time {
    &__image {
      img {
        position: absolute!important;
        left: 0;
        bottom: 0;
        width: 100%!important;
      }
    }
  }
}
@media (min-width: 2000px) {
  .apps {
    background-position: 0 -300px;
  }
  .time {
    &__image {
      img {
        position: absolute!important;
        left: 0;
        bottom: -100px;
        width: 100%!important;
      }
    }
  }
  .footer {
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 47%;
      img {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .box__item--right {
    img {
      display: none;
    }
  }
}
@media (min-width: 2900px) {
  .footer {
    &__image {
      width: 48%;
    }
  }
}