

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
button {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    &:focus {
        outline: none;
    }
}
.color {
    &-black {
        color: #3A3E46;
    }
    &-1 {
        color: #FED053;
    }
    &-2 {
        color: #F4B301;
    }
    &-3 {
        color: #F4A202!important;
    }
}
.color-bg {
    &-1 {
        background-color: #FED053;
    }
    &-2 {
        background-color: #F4B301;
    }
    &-3 {
        background-color: #F4A202!important;
    }
}
.nav-open{
    display: flex;
}
.nav-menu-active {
    display: flex!important;
}
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/work';
@import 'blocks/apps';
@import 'blocks/goal';
@import 'blocks/time';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/contact';
@import 'blocks/down-menu';
@import 'blocks/imp-contact';
@import 'blocks/dat-text';
@import 'blocks/dat-rules';


@import 'base/media';