
.apps {
  background-image: url(../img/apps-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
  height: 840px;
  &__wrap {
    background: rgba(0, 0, 0, 0.8);
    width: 732px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__text {
    width: 566px;
  }
  &__title {
    margin-bottom: 85px;
    font-size: 65px;
    line-height: 130%;
    color: #FFFFFF;
  }
  &__subtitle {
    font-size: 33px;
    line-height: 130%;
    color: #FFFFFF;
  }
}