
.dat-text {
  background: #FED053;
  height: 500px;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    color: #000000;
    a {
      color: #FFF;
      &:hover {
        color: #FFF;
        // text-decoration: none;
      }
    }
  }
}