
.dat-rules {
  padding: 100px 0px 140px 0px;
  &__wrap {

  }
}
.dat-block {
  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 35px;
  }
  &__subtitle {

  }
  &__descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    a {
      color: #000000;
      transition: .3s all;
      word-wrap: break-word;
      &:hover {
        color: #131313;
      }
    }
    b {
      padding: 40px 0px;
      font-weight: bold;
      font-size: 16px;
      line-height: 160%;
      color: #000000;
    }
    p {
      width: 100%;
    }
  }
  &__list {
    margin: 50px 0px;
    &-margin {
      margin-left: 60px;
    }
    &__item {
      margin-bottom: 40px;
      position: relative;
      margin-left: 15px;
      padding-left: 30px;
      a {
        color: #000000;
        transition: .3s all;
        word-wrap: break-word;
        &:hover {
          color: #131313;
        }
      }
      &::after {
        content: '';
        width: 18px;
        height: 18px;
        background: #FED053;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
  .dat__hr {
    background: #FED053;
    height: 5px;
    border: none;
    margin: 105px 0px;
  }