
.opened {
  span {
    opacity: 0;
  }
  &::before {
    top: 10px!important;
    left: 0!important;
    transform: rotate(45deg);
  }
  &::after {
    top: 10px!important;
    left: 0!important;
    transform: rotate(-45deg);
  }
}
.nav {
  background: #3A3E46;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  &-burger {
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    &:before {
      height: 2px;
      width: 100%;
      background: #fff;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
    }
    span  {
      height: 2px;
      width: 100%;
      background: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &:after {
      height: 2px;
      width: 100%;
      background: #fff;
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
    }
  }
  &__hr {
    border: 1px solid #FED053;
    width: 90%;
    margin: 25px 35px 25px 35px;
  }
  &-menu {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
    margin-top: -1px;
    padding: 5px 0px 0px 0px;
    background: #3A3E46;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 370px;
    width: 100%;
    opacity: 0;
    transition: .3s all;
    &-active {
      display: flex;
      opacity : 1;
      transition: .3s all;
    }
    &__list {
      padding-left: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      &__item {
        margin-bottom: 25px;
        a {
          font-size: 13px;
          line-height: 16px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    &__item {
      margin-right: 130px;
      &:last-child {
        margin-right: 0px;
      }
    } 
    &__link {
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: .3s opacity;
      &:hover {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}


a {
  
}

.imp-header {
  padding-top: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background: url(../img/imp-header__bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 500px;
  &__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
    color: #FFF;
    width: 100%;
  }
}
.dat-header {
  padding-top: 60px;
  background: url(../img/dat-header.webp);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  &__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
    color: #FFF;
    width: 100%;
    text-align: center;
  }
}
.header {
  padding-top: 60px;
  background-image: url(../img/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  &__wrap {
    display: flex;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &__logo {
    margin-bottom: 22px;
  }
  &__title-text {
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    width: 552px;
    .color-2 {
      font-weight: bold;
    }
  }
  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 34px;
    line-height: 43px;
    color: #3A3E46;
    width: 614px;
    height: 300px;
    background: #F4B301;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
      width: 440px;

    }
  }
}