
.menu {
  background: #FBCE52;
  position: relative;
  &__wrap {
    padding: 114px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    margin-bottom: -340px;
    img {

    }
  }
  &__list {
    &__num {
      position: absolute;
      top: -0px;
      left: -15px; 
    }
    li {
      position: relative;
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      font-weight: bold;
      font-size: 74px;
      line-height: 147.6%;
      color: #FFFFFF;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}