

@media (min-width: 1200px) {
  .time {
    display: flex;
  }
  .time__image {
    flex: 0 0 40%;
    transform: translateX(-100%);
  }
}
.time { // section
  // display: flex;
  // justify-content: center;
  // padding: 95px 0px 80px 0px;
  height: 750px;
  overflow: hidden;
  background: #3A3E46;
  // position: relative;
  &__text { //section-content
    flex: 0 0 100%;
    display: flex;
  }
  &__image { // section image
    // position: absolute;
    // right: 0;
    // top: 0;
    img {
      width: 611px;
    }
  }
  &__body { //section body
    padding: 65px 15px 100px 0px;
    width: 50%;
  }
  &__title {
    font-weight: 600;
    font-size: 45px;
    line-height: 57px;
    color: #FFFFFF;
  }
  &__list {
    margin-top: 90px;
    max-width: 730px;
    li {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      font-weight: normal;
      font-size: 28px;
      line-height: 130%;
      color: #FFFFFF;
      position: relative;
      &:link {
        color: white;
        text-decoration: none;
      }
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #FED053;
        position: absolute;
        top: -5px;
        left: -30px;
      }
    }
  }
}